[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
pre-commit = "*"
mypy = "==0.720"
pytest = "*"
pytest-cov = "*"
python-coveralls = "*"
pdoc3 = "*"

[packages]
scruml = {editable = true,path = "."}
pywebview = "==3.1"

[requires]
python_version = "3.6"
