/* ScrUML */
/* scruml.css */
/* Team JJARS */


/*
   Colors [Primary | Shadowed]:
   Light -     #FFFFFF | #E5E5E5
   Off-Light - #F2E9E1 | #D9D1CA
   Mid-Tone -  #EFEFEF | #CACACA
   Dark -      #1C140D | #090703
   Accent -    #DBF87B | #A6C050
   Error -     #F44336 | #C62828
*/


/* Font */

@font-face {
    font-family: "Noto Sans";
    src: url("font/Noto Sans.ttf");
}


/* Global App Settings */

*
{
    box-sizing: border-box;
}
html
{
    font-family: "Noto Sans", sans-serif;
}
html, body
{
    margin: 0;
    padding: 0;
}
body
{
    display: flex;
    height: 100vh;
    flex-direction: column;
}
main
{
    display: flex;
    min-height: 0%;
    height: 100%;
}


/* Modal Dialogs */

.modal
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.5);
}

.modal-box
{
    max-width: 550px;
    border-bottom: 5px solid #CACACA;
    border-radius: 5px;
    padding: 35px;
    background-color: #EFEFEF;
    color: #1C140D;
}


/* Loading Modal */

#loading-modal #loading-spinner
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50px;
    max-height: 50px;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#loading-modal p
{
    margin-top: 10px;
    margin-bottom: 0px;
}


/* Prompt Modal */

#prompt-modal
{
    display: none;
}

#prompt-modal p
{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

#prompt-modal input
{
    width: 100%;
    height: 30px;
    font-size: 0.9em;
    background: #FFF;
    border: 1px solid #1C140D;
    transition: background-color 0.2s;
    padding: 0px 10px;
    margin-bottom: 10px;
}
#prompt-modal input:hover
{
    background: #F2E9E1;
}
#prompt-modal input:active
{
    background: #D9D1CA;
}

#prompt-modal #prompt-modal-cancel,
#prompt-modal #prompt-modal-ok
{
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 0px;
    margin: 0px 15px;
    width: 40%;
}
#prompt-modal #prompt-modal-ok
{
    float: right;
}
#prompt-modal #prompt-modal-cancel:hover
{
    color: #fff;
    background: #F44336;
}
#prompt-modal #prompt-modal-cancel:active
{
    color: #fff;
    background: #C62828;
}
#prompt-modal #prompt-modal-ok:hover
{
    color: #fff;
    background: #A6C050;
}
#prompt-modal #prompt-modal-ok:active
{
    color: #fff;
    background: #689F38;
}


/* Alert Modal */

#alert-modal
{
    display: none;
}

#alert-modal p
{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}
#alert-modal #alert-modal-ok
{
    width: 100%;
    height: 30px;
    font-size: 0.9em;
    background: #FFF;
    border: 1px solid #1C140D;
    transition: background-color 0.2s;
    padding: 0px 10px;
    border-radius: 5px;
    margin-bottom: 0px;
}
#alert-modal #alert-modal-ok:hover
{
    color: #fff;
    background: #A6C050;
}
#alert-modal #alert-modal-ok:active
{
    color: #fff;
    background: #689F38;
}


/* Menubar */

#menubar
{
    flex: none;
}

#menubar ul
{
    list-style-type: none;
    margin: 0px;
    padding: 8px;
    overflow: hidden;
    color: #FFF;
    background-color: #1C140D;
    border-top: 5px solid #1C140D;
    border-bottom: 5px solid #090703;
}
#menubar li
{
    display: inline;
}
#menubar a
{
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.2s;
}
#menubar a:hover
{
    cursor: pointer;
    color: #1C140D;
    background-color: #FFF;
}
#menubar a:active
{
    background-color: #D9D1CA;
}


/* Diagram Canvas */

#diagram-canvas
{
    cursor: default;
    background-image: url("img/background.png");
    padding: 10px;
    overflow: scroll;
    flex: auto;
}

#diagram-canvas svg
{
    background: #F2E9E1;
    border: #D9D1CA dashed 2px;
}


/* SVG UML Elements */

#diagram-canvas .uml-class,
#diagram-canvas .uml-relationship
{
    stroke-width: 2;
    stroke: #1C140D;
    fill: #FFF;
    fill-opacity: 0;
}

#diagram-canvas .uml-class
{
    fill-opacity: 1;
}
#diagram-canvas .uml-class-name
{
    font-weight: bold;
    border-bottom: 1px solid #f00;
}
#diagram-canvas .uml-class .uml-class-member-function,
#diagram-canvas .uml-class .uml-class-member-variable
{
    font-size: 0.75em;
}

#diagram-canvas .selected
{
    stroke: #A6C050;
}

#diagram-canvas text
{
    stroke: none;
    fill: #1C140D;
}


/* SVG Diagram/Element Mode Modifiers */

#diagram-canvas svg.select
{
    cursor: default;
}

#diagram-canvas svg.add
{
    cursor: copy;
}

#diagram-canvas svg.connect
{
    cursor: default;
}

#diagram-canvas svg.remove
{
    cursor: default;
}

#diagram-canvas svg.select svg.uml-class
{
    cursor: grab;
}
#diagram-canvas svg.select path.uml-relationship
{
    cursor: pointer;
}

#diagram-canvas svg.add svg.uml-class,
#diagram-canvas svg.add path.uml-relationship
{
    cursor: copy;
}

#diagram-canvas svg.connect svg.uml-class
{
    cursor: cell;
}

#diagram-canvas svg.remove svg.uml-class,
#diagram-canvas svg.remove path.uml-relationship
{
    cursor: no-drop;
}


/* Info Panel */

#info-panel
{
    display: none;
    flex: 0 0 475px;
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
    border-left: solid 5px #E5E5E5;
}
#info-panel .info-panel-content
{
    display: none;
    width: 100%;
}

#info-panel .info-panel-content .header
{
    display: inline-block;
    width: 100%;
    color: #1C140D;
    margin-top: 15px;
    margin-bottom: 10px;
}
#info-panel .info-panel-content .identifier
{
    font-size: 1.25em;
    margin-bottom: 5px;
}
#info-panel .info-panel-content .edit-identifier
{
    cursor: pointer;
    color: #795548;
    transition: color 0.2s;
    padding: 0px;
    margin: 0px;
}
#info-panel .info-panel-content .edit-identifier:hover
{
    color: #A1887F;
}
#info-panel .info-panel-content .edit-identifier:active
{
    color: #3E2723;
}
#info-panel .info-panel-content .spacer
{
    color: rgba(0,0,0,0);
}

#info-panel .info-panel-content hr
{
    border: none;
    border-bottom: solid 2px #A6C050;
    margin-top: 0px;
    margin-bottom: 10px;
}

#info-panel .info-panel-content input,
#info-panel .info-panel-content select
{
    height: 30px;
    font-size: 0.9em;
    background: #FFF;
    border: 1px solid #1C140D;
    transition: background-color 0.2s;
    padding: 0px 10px;
    margin-bottom: 10px;
}
#info-panel .info-panel-content select
{
    border-radius: 5px;
}

#info-panel .info-panel-content input:hover,
#info-panel .info-panel-content select:hover
{
    background: #F2E9E1;
}
#info-panel .info-panel-content input:active,
#info-panel .info-panel-content select:active
{
    background: #D9D1CA;
}

#info-panel .info-panel-content .member-function,
#info-panel .info-panel-content .member-variable
{
    display: flex;
    justify-content: space-between;
}

#info-panel .info-panel-content .member-function .func-visibility,
#info-panel .info-panel-content .member-function .func-ret-type,
#info-panel .info-panel-content .member-function .func-name,
#info-panel .info-panel-content .member-function .func-params
{
    width: 22%;
}

#info-panel .info-panel-content .member-variable .var-visibility,
#info-panel .info-panel-content .member-variable .var-type,
#info-panel .info-panel-content .member-variable .var-name
{
    width: 30%;
}

#info-panel .info-panel-content .delete-button,
#info-panel .info-panel-content .add-button,
#info-panel .info-panel-content .submit-button
{
    width: 7%;
    padding: 0px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
}
#info-panel .info-panel-content .delete-button:hover
{
    color: #fff;
    background: #F44336;
}
#info-panel .info-panel-content .delete-button:active
{
    color: #fff;
    background: #C62828;
}
#info-panel .info-panel-content .submit-button:hover
{
    color: #fff;
    background: #E3D94B;
}
#info-panel .info-panel-content .submit-button:active
{
    color: #fff;
    background: #A39C34;
}
#info-panel .info-panel-content .add-button:hover
{
    color: #fff;
    background: #A6C050;
}
#info-panel .info-panel-content .add-button:active
{
    color: #fff;
    background: #689F38;
}

/* Toolbar */

#toolbar
{
    flex: none;
}

#toolbar ul
{
    list-style-type: none;
    margin: 0px;
    padding: 8px;
    overflow: hidden;
    color: #FFF;
    background-color: #1C140D;
    border-top: 5px solid #090703;
    border-bottom: 5px solid #1C140D;
}
#toolbar li
{
    display: inline;
}
#toolbar a
{
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.2s;
}
#toolbar a:hover
{
    cursor: pointer;
    color: #1C140D;
    background-color: #FFF;
}
#toolbar a.selected
{
    color: #1C140D;
    background-color: #B6D060;
}
#toolbar a.selected:hover
{
    background-color: #DBF87B;
}
#toolbar a:active
{
    background-color: #D9D1CA;
}
